<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Compte</title>
</head>
<body>
    <h1>Bienvenue, {{ user.username }}!</h1>
    <p>Votre compte a bien été créé et vous êtes maintenant connecté.</p>
    
    <!-- Afficher d'autres informations de l'utilisateur si nécessaire -->
    <p>Email : {{ user.email }}</p>
</body>
</html>
