<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<body>
    <p>Bonjour {{ user.firstname }}!</p>
    <p>Votre compte sur notre site a bien été créé. Nous sommes ravis de vous accueillir parmi nous.</p>
</body>
</html>
